body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 98vh;
}

.gridContainer{
    border: 1px, solid, black;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

/* .pixel{
    height: 30px;
    width: 30px;
} */